*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Inter', sans-serif;
}
:root{
  --white:hsl(0, 0%, 100%);
  --grey: hsl(0, 0%, 20%);
  --dark-grey:hsl(0, 0%, 12%);
  --off-black:hsl(0, 0%, 8%);
  --primary:hsl(75, 94%, 57%);
}